In [1]:
from utils.generate_data import DataGenerator

In [2]:
df = DataGenerator.distribution(city='Pond Place')

c:\Users\Theon\Downloads\frog-bias\utils\generate_data.py:130: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(

In [3]:
df[df['Group'] == 'Red'].drop('Wealth', axis=1).value_counts()

Group  Clothes  Hat         Clothes Color  Canes    Glasses
Red    Robes    Crown       Purple         Ivory    Spectacle    13
                            Blue           Ivory    Spectacle     6
                            Purple         Ivory    Aviators      5
                Scally Cap  Purple         Ivory    Spectacle     2
                Crown       Purple         Oak      Aviators      2
       Suit     Top Hat     Blue           Plywood  Aviators      2
       Robes    Top Hat     Purple         Ivory    Spectacle     2
                Crown       Blue           Ivory    Aviators      1
                                           Oak      Spectacle     1
                Top Hat     Blue           Oak      Aviators      1
                Crown       Purple         Oak      Spectacle     1
       Suit     Crown       Blue           Ivory    Spectacle     1
       Robes    Top Hat     Purple         Ivory    Aviators      1
       Suit     Crown       Purple         Ivory    Spectacle     1
                Scally Cap  Purple         Ivory    Aviators      1
                                           Plywood  Spectacle     1
                Top Hat     Blue           Oak      Aviators      1
                            Grey           Oak      Spectacle     1
                            Purple         Ivory    Aviators      1
                                                    Spectacle     1
                                           Oak      Aviators      1
                                                    Round Eye     1
       t-shirt  Crown       Blue           Oak      Aviators      1
                Scally Cap  Grey           Plywood  Aviators      1
                Top Hat     Purple         Ivory    Round Eye     1
Name: count, dtype: int64

In [32]:
DataGenerator.get_outfit(wealth=0.9)

('Robes', 'Crown', 'Purple')